<mat-grid-list [cols]="isMobile ? 1 : 3" [gutterSize]="'20px'">
    <mat-grid-tile>
        <mat-card>
            <mat-card-title>
                Internet Banking
            </mat-card-title>
            <div class="img-wrapper sulamerica-logo"></div>
            <mat-card-content>
                
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>