<mat-sidenav-container>
  <mat-sidenav [mode]="'over'" #lateral>Start</mat-sidenav>
  <mat-sidenav-content>
    <div class="whole-screen">
      <omt-header (openMenu)="lateral.toggle()" [hidden]="!visibleToolbar"></omt-header>
      <router-outlet></router-outlet>
    </div>
    <omt-footer></omt-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
