<div id="footer">
  <div class="wip">
    A work in progress.
  </div>
  <div>
    Made from scratch, with <mat-icon [inline]="true">favorite</mat-icon> by
    <span class="name-cursive">Samuel</span>. AGPLv3
  </div>
</div>