:host {
  width: 100%;
}

mat-icon {
  font-size: 13px;
}

#butter-logo {
  height: 20px;
}

#footer {
  background-color: black;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: right;
  color: #e2e2e2;
}

.wip {
  color: #686868;
}

.name-cursive {
  font-family: 'Cedarville cursive', cursive, sans-serif;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  #footer {
    font-size: .7em;
  }
}
